.button {
  margin: 8px;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  color: #6b7992;
  background-color: #f4f2f1;
  box-shadow: 4px 4px 8px #cfcecd,
    -4px -4px 8px #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  box-shadow: 9px 9px 16px #cfcecd,
    -9px -9px 16px #ffffff;
}
.button:active {
  box-shadow: inset 9px 9px 16px #cfcecd,
    inset -9px -9px 16px #ffffff;
}

.button--danger {
  color: #f4f2f1;
  background-color: #cc0001;
  box-shadow: 4px 4px 8px #cfcecd,
    -4px -4px 8px #ffffff;
}

.button--danger:hover {
  color: #f4f2f1;
  box-shadow: 9px 9px 16px #cfcecd,
    -9px -9px 16px #ffffff;
}

.button--danger:active {
  box-shadow: inset 9px 9px 16px #ad0001,
    inset -9px -9px 16px #eb0001;
}

.button--inverse {
  color: #f4f2f1;
  background-color: #9f34ff;
  box-shadow: 4px 4px 8px #cfcecd,
    -4px -4px 8px #ffffff;
}

.button--inverse:hover {
  box-shadow: 9px 9px 16px #cfcecd,
    -9px -9px 16px #ffffff;
}

.button--inverse:active {
  box-shadow: inset 9px 9px 16px #872cd9,
    inset -9px -9px 16px #b73cff;
}

.button--default {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.button--large {
  padding: 12px 36px;
  border-radius: 50px;
}

.button--disabled {
  background-color: #e5e5f0;
  color: #7a7aac;
  box-shadow: 4px 4px 8px #cfcecd,
    -4px -4px 8px #ffffff;
  cursor: not-allowed;
}

.button--disabled:hover {
  color: #7a7aac;
  box-shadow: 4px 4px 8px #cfcecd,
    -4px -4px 8px #ffffff;
}

@media (min-width: 768px) {
  .button--large {
    display: inline-block;
  }
}
