.form-control {
  margin: 16px 0;
}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;
}

.form-control label {
  color: #6b7992;
  font-weight: 700;
  margin-bottom: 8px;
}

.form-control input,
.form-control textarea {
  border: none;
  outline: none;
  color: #6b7992;
  width: 100%;
  box-sizing: border-box;
  padding: 8px 16px;
  border-radius: 11px;
  background-color: #f4f2f1;
  box-shadow: inset 2px 2px 8px rgb(163, 177, 198, 0.6),
    inset -2px -2px 8px rgba(255, 255, 255, 0.5);
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
}

.form-control--invalid p {
  font-size: 14px;
  margin-top: 5px;
}

.form-control--invalid label,
.form-control--invalid p {
  color: #cc0001;
}

.form-control--invalid input,
.form-control--invalid textarea {
  color: #cc0001;
}
