.place-form {
  list-style: none;
  margin: 16px auto;
  padding: 16px;
  width: 80%;
  max-width: 640px;
  box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5);
  border-radius: 11px;
  background-color: #e6f0f9;
}
