.place-form {
  list-style: none;
  margin: 16px auto;
  box-sizing: border-box;
  padding: 16px;
  width: 90%;
  max-width: 640px;
  box-shadow: 4px 4px 8px #cfcecd,
    -4px -4px 8px #ffffff;
  border-radius: 11px;
  background-color: #f4f2f1;
}
