.main-header {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background: #f4f2f1;
  top: 0;
  z-index: 5;
}

main {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .main-header {
    justify-content: space-between;
    width: 90%;
  }
  .header-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
