.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 16px;
}

.nav-links li {
  margin: 16px;
}

.nav-links a {
  color: #6b7992;
  text-decoration: none;
  padding: 8px;
}

.nav-links a:hover,
.nav-links a:active,
.nav-links a.active {
  color: #ff375f;
  font-weight: 700;
}

.nav-links button {
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
}

.nav-links button:hover,
.nav-links button:active {
  background-color: #ff375f;
  color: #001f3f;
}

@media (min-width: 768px) {
  .nav-links {
    display: flex;
    flex-direction: row;
  }
}
