@import url('https://fonts.googleapis.com/css2?family=Muli:wght@500;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Muli', sans-serif;
  font-weight: 500;
  font-size: 18px;
  background-color: #e6f0f9;
  color: #001f3f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

p {
  color: #69696d;
}

.center {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 0.4s;
}

.slide-in-left-exit {
  transform: translateX(0);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 0.4s;
}
